body {font-size: 10;}
/*table {spacing: 0; background-color: white; border-style: dashed; border-left: #000000 1px solid;}*/
table {background-color: #FFFFE0;}
td {font-size: 9; color: 4444cc; }
h3 {color: "666666"; font-size: 12;}
